<div class="container">
<h2>User Detail</h2>


<form #userForm="ngForm" (ngSubmit)="saveEmp(userForm.value)">
    <span>EmpId: </span><input type="text" ngModel name="empId" placeholder="Enter empId">
    <br><br>
    <span>Email: </span><input type="text" ngModel name="email" placeholder="Enter email">
    <br><br>
    <span>Mobile: </span><input type="text" ngModel name="mobile" placeholder="Enter mobile">
    <br><br>
    <span>Name: </span><input type="text" ngModel name="name" placeholder="Enter name">
    <br><br>
    <!-- <button mat-button color="accent">Add New</button>
    <button mat-raised-button color="primary">send email</button> -->
    <button type="submit"mat-raised-button color="primary">Send</button>
     <button type="reset"mat-raised-button color="accent">Reset</button>
</form>
</div>
<br><br><br>
<table class="table">
    <thead>
            <tr>
                <th>Emp Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile</th>            
            </tr>
            <tr *ngFor="let e of emp">
                <td>{{e.email}}</td>
                <td>{{e.name}}</td>
                <td>{{e.email}}</td>
                <td>{{e.mobile}}</td> 
            </tr>
        </thead>
    </table>
    <br><br><br>

    
	
	<table class="table table-success table-striped">
        <thead>
                <tr>
                    <th scope="col">PageNo</th>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Status</th>
                    <th scope="col">Gender</th>
                </tr>
                <tr *ngFor="let usr of user; index as i">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{usr.id}}</td>
                    <td>{{usr.name}}</td>
                    <td>{{usr.email}}</td>
                    <td>{{usr.status}}</td>       
                    <td>{{usr.gender}}</td>
                </tr>
            </thead>
        </table>


        <div class="alert alert-danger" role="alert">
<b>This page created by Ayush Sharma!</b>
</div>